<div class="signup-container">
    <h2>Sign Up</h2>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" formControlName="email" required>
        </div>
        <div class="form-group">
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" formControlName="first_name" required>
        </div>
        <div class="form-group">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" formControlName="last_name" required>
        </div>
        <div class="form-group">
            <div class="form-label">
                <i class="fas fa-lock"></i>
                <label for="password">Password:</label>
            </div>
            <input type="password" id="password" formControlName="password" required>
        </div>
        <div class="form-group">
            <label for="password_again">Password Again:</label>
            <input type="password" id="password_again" formControlName="password_again" required>
        </div>
        <div *ngIf="signupForm.errors?.['passwordMismatch']" class="error-message">
            Passwords do not match
        </div>
        <div *ngIf="signupForm.get('email')?.errors?.['email'] && signupForm.get('email')?.touched" class="error-message">
            Please enter a valid email address
        </div>
        <div *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched" class="error-message">
            Password must be at least 6 characters long
        </div>
        <button class="submit-button" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
    </form>
</div>